/t-SNE/audios/
/t-SNE/labels/
/t-SNE/results/
# /ckpts
/audios
/labels
/results
/imgs
/chicken_sound_classification/dataset/
/chicken_sound_classification/*.csv
/chicken_sound_classification/content/
*.png
*.pt
*.ckpt
.h5

/chicken_sound_classification/lightning_logs/
/chicken_sound_classification/wandb/
/chicken_sound_classification/20241206_exp/
/chicken_sound_classification/imgs/
/chicken_sound_classification/2025_trained_model/
/chicken_sound_classification/2025_05_trained_model/
/chicken_sound_classification/2025_06_trained_model/

__pycache__



